* {
  box-sizing: border-box;
}

body {
  margin: auto;
}

.container {
  background-size: cover;
  background-image: url('img/background.png');
  height: 60rem;
}

.infos {
  text-align: center;
}

.info__icon__play {
  font-size: 6rem;
  color: #2a0944;
}
