* {
  box-sizing: border-box;
}

body {
  margin: auto;
}

.container {
  background-size: cover;
  background-image: url('img/background.png');
  height: 60rem;
}

.infos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info__icon__play {
  font-size: 3rem;
  color: black;
}

.info__timer {
  font-family: Montserrat;
  font-size: 3rem;
  font-weight: 600;
  border: 0.45rem solid black;
  border-radius: 0.8rem;
  background-color: white;
  padding: 0.1rem 0.9rem;
}
