* {
  box-sizing: border-box;
}

body {
  margin: auto;
  text-align: center;
}

.container {
  margin: auto;
  background: url('img/background.png') center/cover;
  height: 60rem;
  display: flex;
  flex-direction: column;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30rem;
  padding: 1rem 0;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.info__play {
  font-size: 3rem;
  color: #cc3636;
  border: 0.45rem solid black;
  border-radius: 0.8rem;
  background-color: white;
  padding: 0.4rem 0.9rem 0rem 1.1rem;
  margin-bottom: 0.5rem;
}

.info__play:hover {
  transform: scale(1.1);
  transition: transform 200ms ease-in;
}

.info__timer {
  font-family: Montserrat;
  font-size: 3rem;
  border: 0.45rem solid black;
  border-radius: 0.8rem;
  background-color: white;
  padding: 0.1rem 1.4rem;
  margin-bottom: 0.5rem;
}

.info__counter {
  font-family: Alice;
  font-size: 4rem;
  border: 0.4rem solid #ef9a53;
  border-radius: 50%;
  background-color: #f5d5ae;
  padding: 0 1.5rem 0.5rem;
}

.field {
  width: 100%;
  height: 100%;
  margin-top: 14rem;
  background-color: blue;
  opacity: 0.4;
}

.pop-up {
  width: 24rem;
  height: 14rem;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0.6rem;
  text-align: center;
  padding: 2rem;
  margin: auto;
  transform: translateY(-250%);
}

.pop-up__replay {
  width: 4rem;
  height: 4rem;
  font-size: 2.4rem;
  border: 0.4rem solid black;
  border-radius: 50%;
  cursor: pointer;
  background-color: #f5d5ae;
}

.pop-up__message {
  font-family: Alice;
  font-size: 2rem;
  text-align: center;
  color: white;
}
